absl-py==2.1.0
annotated-types==0.7.0
apturl==0.5.2
asttokens==2.4.1
astunparse==1.6.3
bcrypt==3.2.2
bleach==6.1.0
blinker==1.7.0
Brlapi==0.8.3
cachetools==5.5.0
certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.4.0
click==8.1.6
colorama==0.4.6
comm==0.2.2
command-not-found==0.3
configobj==5.0.8
contourpy==1.3.0
cryptography==41.0.7
cupshelpers==1.0
cycler==0.12.1
dbus-python==1.2.18
debugpy==1.8.7
decorator==5.1.1
defer==1.0.6
distro==1.9.0
distro-info==1.7+build1
duplicity==0.8.21
exceptiongroup==1.2.2
executing==2.1.0
fasteners==0.18
filelock==3.16.1
flatbuffers==24.3.25
fonttools==4.54.1
fsspec==2024.10.0
future==0.18.2
gast==0.6.0
google-ai-generativelanguage==0.6.10
google-api-core==2.21.0
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.3
google-pasta==0.2.0
googleapis-common-protos==1.65.0
gpg==1.16.0
GPUtil==1.4.0
gpuutils==0.0.2
grpcio==1.67.0
grpcio-status==1.67.0
gyp==0.1
h5py==3.12.1
httplib2==0.20.4
idna==3.6
importlib-metadata==4.12.0
ipykernel==6.29.5
ipynb==0.5.1
ipython==8.28.0
jedi==0.19.1
jeepney==0.8.0
Jinja2==3.1.4
joblib==1.4.2
jupyter_client==8.6.3
jupyter_core==5.7.2
kaggle==1.6.17
keras==3.6.0
keyring==23.5.0
kiwisolver==1.4.7
language-selector==0.1
launchpadlib==1.11.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
libclang==18.1.1
lockfile==0.12.2
louis==3.29.0
macaroonbakery==1.3.4
Mako==1.3.2.dev0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
meson==1.3.2
ml-dtypes==0.4.1
monotonic==1.6
more-itertools==10.2.0
mpmath==1.3.0
namex==0.0.8
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.4.2
numpy==1.26.4
nvidia-cublas-cu12==12.3.4.1
nvidia-cuda-cupti-cu12==12.3.101
nvidia-cuda-nvcc-cu12==12.3.107
nvidia-cuda-nvrtc-cu12==12.3.107
nvidia-cuda-runtime-cu12==12.3.101
nvidia-cudnn-cu12==8.9.7.29
nvidia-cufft-cu12==11.0.12.1
nvidia-curand-cu12==10.3.4.107
nvidia-cusolver-cu12==11.5.4.101
nvidia-cusparse-cu12==12.2.0.103
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.4.127
oauthlib==3.2.2
olefile==0.46
opt_einsum==3.4.0
optree==0.13.0
packaging==24.1
pandas==2.2.3
paramiko==2.12.0
parso==0.8.4
pexpect==4.9.0
Pillow==9.0.1
platformdirs==4.3.6
plotly==5.24.1
prompt_toolkit==3.0.48
proto-plus==1.24.0
protobuf==4.25.5
psutil==5.9.8
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycairo==1.20.1
pycups==2.0.1
pydantic==2.9.2
pydantic_core==2.23.4
pyfiglet==1.0.2
Pygments==2.18.0
PyGObject==3.42.1
PyJWT==2.7.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pyparsing==3.1.1
pyRFC3339==1.1
pyserial==3.5
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-debian==0.1.49+ubuntu2
python-slugify==8.0.4
pytz==2024.1
pyxdg==0.28
PyYAML==5.4.1
pyzmq==26.2.0
reportlab==3.6.8
requests==2.32.3
rich==13.9.3
rsa==4.9
scikit-learn==1.5.2
scipy==1.14.1
screen-resolution-extra==0.0.0
SecretStorage==3.3.3
six==1.16.0
ssh-import-id==5.11
stack-data==0.6.3
sympy==1.13.1
systemd-python==234
tenacity==9.0.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
terminator==2.1.3
text-unidecode==1.3
threadpoolctl==3.5.0
torch==2.5.0
torchaudio==2.5.0
torchvision==0.20.0
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
triton==3.1.0
typing_extensions==4.12.2
tzdata==2024.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.2
unattended-upgrades==0.1
uritemplate==4.1.1
urllib3==2.0.7
usb-creator==0.3.7
vscodedebugvisualizer==0.1.0
wadllib==1.3.6
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.0.4
wrapt==1.16.0
wxPython==4.2.0
xdg==5
xkit==0.0.0
zipp==1.0.0
